@charset "UTF-8";
body {
  background-color: #FFF;
  font-family: "Roboto", sans-serif;
  padding-left: 235px;
  padding-top: 10px;
  padding-right: 10px;
  margin: 0;
  color: #000;
  letter-spacing: 0.3px; }

#content {
  width: 100%;
  height: 100%;
  display: none; }

::-webkit-scrollbar {
  width: 7px;
  height: 7px; }

::-webkit-scrollbar-track {
  background-color: #F9F9F9; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #afafaf; }

h1 {
  font-size: 2.6rem;
  font-weight: 700;
  opacity: 0.7;
  margin-bottom: 15px; }

h2 {
  font-size: 1.8rem;
  opacity: 0.75;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0; }

.modal {
  background-color: rgba(0, 0, 0, 0.4); }
  .modal .modal-title {
    font-weight: 500; }
  .modal p {
    font-weight: 400;
    opacity: 0.5;
    font-size: 1.5rem;
    margin-bottom: 25px; }

.form-group {
  margin-top: 0; }
  .form-group .form-control {
    font-size: 1.4rem;
    font-weight: 400; }

.form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label {
  font-size: 1.4rem; }

.form-control, .form-group .form-control {
  background-image: linear-gradient(#3FB0AC, #3FB0AC), linear-gradient(#D2D2D2, #D2D2D2) !important; }

.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary {
  color: #3FB0AC; }

.guardar-btn {
  float: right;
  display: inline-block;
  position: absolute;
  top: -50px;
  right: 20px;
  font-size: 1.3rem; }

.panel {
  background-color: #F9F9F9;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.16); }
  .panel .panel-heading {
    padding: 18px 25px;
    background-color: #F4F4F4 !important;
    box-shadow: 0px 2px 4px #CFCFCF; }
  .panel .panel-body {
    padding: 0; }

.primary-btn {
  background-color: #3FB0AC !important;
  color: #fff !important;
  font-weight: 400 !important;
  margin-top: 0;
  margin-bottom: 0; }

.speech-box {
  display: inline-block;
  position: relative; }
  .speech-box .speech-message {
    visibility: hidden;
    width: 350px;
    font-weight: 300;
    font-size: 1.4rem;
    background-color: #fff;
    color: #212121;
    text-align: left;
    border-radius: 2px;
    padding: 20px 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s; }
    .speech-box .speech-message h5 {
      color: #3FB0AC;
      font-weight: 500; }

.speech-box:hover .speech-message {
  visibility: visible;
  opacity: 1;
  z-index: 100; }

.nav-tabs {
  background-color: #F4F4F4;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.16); }
  .nav-tabs .active {
    border-bottom: 3px solid #3FB0AC; }

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  color: #484848 !important;
  padding: 15px 20px; }

.positivo, .matriculado, .obtenido {
  color: #06BB78; }

.contactos-web {
  color: #488CA9; }

.por-definir {
  color: #D6D800; }

.negativo {
  color: #ADADAD; }

.prioridad-cero {
  background-color: #06BB78;
  color: #FFF; }

.prioridad-uno {
  background-color: #FAE596;
  color: #4A442C; }

.prioridad-dos {
  background-color: #488CA9;
  color: #FFF; }

.prioridad-tres {
  background-color: #8c8c8c;
  color: #FFF; }

.contacto-card {
  padding: 20px 20px 15px 20px !important; }
  .contacto-card .icon-box-person {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    float: left;
    background-color: #E8E8E8;
    text-align: center;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 5px; }
    .contacto-card .icon-box-person i {
      font-size: 4.5rem;
      color: #B1B1B1;
      position: relative;
      bottom: 4px;
      right: 2px; }
  .contacto-card .nombres, .contacto-card .apellidos {
    font-weight: 500;
    display: block;
    opacity: 0.5;
    font-size: 1.4rem;
    word-break: break-all; }
  .contacto-card a {
    color: #000; }
  .contacto-card .link {
    display: inline-block; }
  .contacto-card .tipo {
    color: #3FB0AC;
    font-size: 1.2rem;
    font-weight: 500;
    display: block;
    margin-left: 75px; }
  .contacto-card .edit {
    float: right;
    font-size: 1.5rem;
    opacity: 0.5;
    position: relative;
    bottom: 10px;
    left: 10px; }
  .contacto-card .name-box {
    margin-bottom: 25px; }

.full-card {
  margin-bottom: 10px; }
  .full-card .contacto-card {
    padding: 0px !important;
    width: 100%;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex; }
    .full-card .contacto-card .link {
      display: block; }
    .full-card .contacto-card .col-lg-4 {
      padding: 20px 5px 15px 15px;
      flex: 3;
      border-right: 1px solid #D9D9D9; }
    .full-card .contacto-card .col-lg-8 {
      padding: 10px 5px 10px 15px; }
  .full-card .description-box .left {
    display: inline-block;
    font-weight: 500;
    opacity: 0.5;
    width: 120px;
    vertical-align: top; }
  .full-card .description-box .right {
    display: inline-block;
    font-weight: 400;
    opacity: 0.4;
    width: 250px;
    vertical-align: top; }
  .full-card .float-right {
    position: absolute;
    right: 20px;
    top: 7px;
    text-align: right; }
    .full-card .float-right .text {
      font-size: 1.1rem;
      font-weight: 500;
      opacity: 0.2; }
    .full-card .float-right .number {
      display: inline-block;
      font-size: 1.1rem;
      font-weight: 500;
      padding: 2px;
      border-radius: 100%;
      width: 19px;
      text-align: center; }
    .full-card .float-right .icon i {
      font-size: 2.2rem; }
  .full-card .speech-box i {
    color: #3FB0AC;
    cursor: pointer; }

.alert {
  width: 300px;
  position: fixed;
  z-index: 1000;
  left: 0.5%;
  bottom: 0%;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.16);
  display: none; }

.card-blocked {
  opacity: 0.3; }
  .card-blocked .name-box, .card-blocked .form-group {
    pointer-events: none; }

.total-contacts {
  float: right;
  font-weight: 400;
  opacity: 0.3;
  font-size: 1.3rem;
  margin-bottom: 10px; }

.error-page {
  text-align: center; }
  .error-page i {
    color: #3FB0AC;
    font-size: 4.5rem;
    margin-top: 5%; }
  .error-page h1 {
    font-size: 4rem; }
  .error-page h2 {
    font-weight: 400;
    opacity: 0.7;
    font-size: 2.5rem; }
  .error-page h4 {
    font-size: 2rem;
    opacity: 0.4;
    font-weight: 400; }

.card-statistics {
  padding: 8px 5px;
  height: 80px; }
  .card-statistics i {
    font-size: 3rem;
    display: inline-block; }
  .card-statistics .number {
    font-size: 1.7rem;
    font-weight: 700;
    opacity: 0.7;
    display: inline-block;
    position: relative;
    bottom: 8px; }
  .card-statistics .name {
    font-size: 1.05rem;
    opacity: 0.8;
    color: #000;
    color: #9E9E9E;
    font-weight: 500;
    display: block;
    margin-top: -3px; }

.active-agenda-page {
  background-color: #eaeaea; }

#sidebar {
  overflow: auto;
  position: fixed;
  height: 100%;
  width: 225px;
  top: 0;
  left: 0;
  background-color: #3FB0AC;
  color: #fff;
  text-align: center; }
  #sidebar .profile {
    background-color: #2E2E2E;
    padding: 35px 5px 35px 5px; }
    #sidebar .profile span {
      display: block;
      opacity: 0.8;
      font-size: 1.2rem; }
    #sidebar .profile .pic-box {
      height: 56px;
      width: 56px;
      margin: 0 auto;
      margin-bottom: 5px; }
      #sidebar .profile .pic-box img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 100%; }
  #sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    #sidebar ul li {
      border-bottom: 1px solid #fff;
      border-top: 1px solid #fff;
      margin-top: -1px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      #sidebar ul li a {
        padding: 15px;
        text-decoration: none;
        color: #fff;
        display: block; }
        #sidebar ul li a i {
          display: block;
          font-size: 2.6rem; }
        #sidebar ul li a span {
          font-size: 1.3rem; }
    #sidebar ul li:first-child {
      border-top: none; }
    #sidebar ul li:last-child {
      border-bottom: none; }
    #sidebar ul li:hover {
      background-color: rgba(0, 0, 0, 0.15); }
    #sidebar ul .active {
      background-color: #FAE596; }
      #sidebar ul .active a {
        color: #575243; }
    #sidebar ul .active:hover {
      background-color: #FAE596; }

.agenda-diaria {
  position: fixed;
  width: 25%; }
  .agenda-diaria .panel-body {
    height: 480px;
    overflow-y: scroll; }
  .agenda-diaria .panel-heading {
    position: relative;
    z-index: 10; }
    .agenda-diaria .panel-heading .date {
      font-size: 1.2rem;
      opacity: 0.3;
      font-weight: 700; }
    .agenda-diaria .panel-heading i {
      float: right;
      opacity: 0.5;
      position: relative;
      bottom: 20px;
      cursor: pointer; }
  .agenda-diaria .agenda-diaria-evento {
    padding: 20px 25px;
    border-bottom: 1px solid #D9D9D9; }
    .agenda-diaria .agenda-diaria-evento .title {
      font-size: 1.5rem;
      opacity: 0.7;
      font-weight: 500;
      display: inline;
      margin-bottom: 2px;
      margin-right: 5px; }
    .agenda-diaria .agenda-diaria-evento i {
      opacity: 0.5;
      font-size: 1.5rem;
      position: relative;
      top: 2px; }
    .agenda-diaria .agenda-diaria-evento .title-edit {
      color: #ADADAD;
      cursor: pointer;
      opacity: 1;
      display: inline; }
    .agenda-diaria .agenda-diaria-evento .detail {
      font-size: 1.2rem;
      color: #888888;
      font-weight: 400;
      margin-left: 5px; }
    .agenda-diaria .agenda-diaria-evento .detail:nth-child(odd) {
      text-transform: capitalize; }
  .agenda-diaria .agenda-diaria-evento-active {
    background-color: #FAE596; }
    .agenda-diaria .agenda-diaria-evento-active .title-edit, .agenda-diaria .agenda-diaria-evento-active .detail {
      color: #000;
      opacity: 0.7; }
    .agenda-diaria .agenda-diaria-evento-active i {
      opacity: 0.7; }
  .agenda-diaria a, .agenda-diaria a:hover, .agenda-diaria a:focus {
    color: #7C7C7C; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 500px;
    margin: 30px auto; } }
/* @media screen and (min-width: 1400px) {
    .card-statistics {
        i {
            font-size: 4rem !important;
        }
    }
} */
.inicio-page h1 {
  display: inline-block; }
.inicio-page .main-text {
  opacity: 0.4;
  font-weight: 400;
  font-size: 1.4rem; }
.inicio-page .select-camp {
  display: inline-block;
  width: 40%;
  margin-left: 10px; }
.inicio-page .col-lg-2, .inicio-page .col-md-2 {
  padding-right: 8px;
  padding-left: 8px; }
.inicio-page .metas {
  padding: 18px 14px; }
  .inicio-page .metas i {
    float: right;
    font-size: 2rem;
    opacity: 0.5;
    cursor: pointer;
    position: relative;
    bottom: 22px;
    right: -3px; }
  .inicio-page .metas .box {
    margin-top: 15px; }
  .inicio-page .metas .number {
    color: #3FB0AC;
    font-weight: 500;
    font-size: 3rem;
    display: block;
    margin-left: 20px; }
  .inicio-page .metas .text {
    font-size: 1.3rem;
    opacity: 0.5;
    font-weight: 500;
    display: block; }
.inicio-page .contact-card-panel {
  overflow-y: scroll;
  height: 397px; }
.inicio-page .contact-card {
  padding: 13.5px 25px;
  border-bottom: 1px solid #D9D9D9; }
  .inicio-page .contact-card a, .inicio-page .contact-card a:hover, .inicio-page .contact-card a:focus {
    font-size: 1.4rem;
    opacity: 0.7;
    font-weight: 500;
    color: #000;
    display: block; }
  .inicio-page .contact-card .product {
    font-size: 1.1rem;
    opacity: 0.3;
    font-weight: 500;
    display: block;
    width: 350px; }
  .inicio-page .contact-card .time {
    opacity: 0.2;
    font-weight: 400;
    font-size: 1.1rem;
    position: relative;
    bottom: 37px;
    left: 10px;
    float: right; }
.inicio-page .contact-card:last-child {
  border-bottom: none; }
.inicio-page .primary-btn {
  font-size: 1.1rem;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  right: 5%;
  top: 14px; }
.inicio-page .speech {
  opacity: 0.3;
  position: relative;
  top: 5px;
  cursor: pointer;
  margin-left: 10px; }

.agregar-page {
  padding-bottom: 40px; }
  .agregar-page .label-floating {
    margin-top: 31px; }
  .agregar-page a {
    color: #000; }
  .agregar-page .subheading {
    font-weight: 600;
    opacity: 0.5;
    margin-left: 15px;
    font-size: 1.8rem; }
  .agregar-page .input-group {
    margin-top: 31px; }
  .agregar-page .mg-bt {
    margin-bottom: 15px; }
  .agregar-page #datos-contacto #btn-crear-contacto {
    float: left; }
  .agregar-page #datos-contacto .form-contactos {
    display: none; }
  .agregar-page #datos-contacto .contacto-card {
    cursor: pointer; }
    .agregar-page #datos-contacto .contacto-card .nombres {
      margin-top: 10px; }
  .agregar-page #datos-contacto .cards-contacto-choose {
    display: none; }
  .agregar-page #datos-familiar #btn-crear-familiar {
    float: left; }
  .agregar-page #datos-familiar p {
    margin-top: 5px; }
  .agregar-page #datos-familiar .help-block {
    margin-top: 0px; }
  .agregar-page #datos-familiar .form-familiar {
    margin-top: 20px;
    display: none; }
  .agregar-page #datos-familiar .contacto-row {
    display: none; }
  .agregar-page #datos-familiar #guardar-parentezco {
    display: none; }

.contacto-agregado-page .main-text {
  font-size: 1.7rem;
  font-weight: 400;
  opacity: 0.4;
  margin-top: 10px;
  margin-bottom: 30px; }

.contacto-perfil-page h1, .contacto-perfil-page .edit {
  display: inline-block; }
.contacto-perfil-page h1 {
  margin-bottom: 12px;
  width: 40vw; }
.contacto-perfil-page a {
  color: #000; }
.contacto-perfil-page .edit {
  font-size: 2.3rem;
  opacity: 0.3;
  position: relative;
  bottom: 3px;
  left: 3px; }
.contacto-perfil-page .details {
  font-weight: 600;
  color: #B2B2B2;
  font-size: 1.5rem;
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 25px; }
  .contacto-perfil-page .details i {
    font-size: 1.9rem;
    position: relative;
    top: 4px;
    right: 5px; }
  .contacto-perfil-page .details .speech {
    cursor: pointer; }
.contacto-perfil-page .nav-tabs > li > a, .contacto-perfil-page .nav-tabs > li > a:hover, .contacto-perfil-page .nav-tabs > li > a:focus {
  font-size: 1.6rem !important;
  padding: 15px 10px; }
.contacto-perfil-page .botones-perfil {
  float: right;
  display: inline-block;
  position: absolute;
  top: -50px;
  right: 20px; }
  .contacto-perfil-page .botones-perfil .btn-raised {
    display: block;
    font-size: 1.2rem !important;
    padding-left: 17px;
    padding-right: 17px; }
  .contacto-perfil-page .botones-perfil .dropdown-toggle, .contacto-perfil-page .botones-perfil .dropdown-toggle:hover, .contacto-perfil-page .botones-perfil .dropdown-toggle:focus {
    color: #FFF;
    font-weight: 300;
    width: 132px;
    background-color: #2E2E2E; }
  .contacto-perfil-page .botones-perfil .dropdown-menu li a:hover {
    color: #3FB0AC; }
.contacto-perfil-page .nav-tabs {
  box-shadow: 0px 2px 4px #CFCFCF;
  position: relative;
  z-index: 1; }
.contacto-perfil-page .tab-content {
  padding: 20px;
  background-color: #F9F9F9;
  height: 457px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 10px;
  overflow-y: scroll; }
.contacto-perfil-page .detail-box {
  margin-bottom: 10px;
  font-size: 1.5rem; }
  .contacto-perfil-page .detail-box .left {
    font-weight: 500;
    opacity: 0.5;
    margin-right: 10px; }
  .contacto-perfil-page .detail-box .right {
    font-weight: 400;
    color: #A2A2A2; }
  .contacto-perfil-page .detail-box a {
    color: #3FB0AC;
    opacity: 1; }
.contacto-perfil-page hr {
  border-top: 1px solid #D9D9D9; }
.contacto-perfil-page .tab-card {
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  padding: 20px;
  margin-bottom: 10px; }
  .contacto-perfil-page .tab-card .sede {
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0.2; }
  .contacto-perfil-page .tab-card .title {
    font-size: 1.6rem;
    font-weight: 400;
    color: #3FB0AC;
    display: block;
    margin-bottom: -5px; }
  .contacto-perfil-page .tab-card .float-right {
    float: right;
    text-align: right;
    position: relative;
    bottom: 25px; }
    .contacto-perfil-page .tab-card .float-right .time {
      display: block;
      font-size: 1.2rem;
      font-weight: 500;
      opacity: 0.3; }
      .contacto-perfil-page .tab-card .float-right .time i {
        font-size: 2.1rem;
        position: relative;
        top: 4px; }
  .contacto-perfil-page .tab-card .body {
    margin-top: 20px; }
    .contacto-perfil-page .tab-card .body .left {
      font-weight: 500;
      opacity: 0.5;
      margin-right: 10px; }
    .contacto-perfil-page .tab-card .body .right {
      font-weight: 400;
      color: #A2A2A2; }
    .contacto-perfil-page .tab-card .body .debe {
      color: #C41E3A; }

.mis-contactos-page .breadcrumb {
  list-style: none;
  overflow: hidden;
  padding: 0;
  background-color: #FFF; }
.mis-contactos-page .breadcrumb li {
  float: left; }
.mis-contactos-page .breadcrumb li a {
  color: white;
  text-decoration: none;
  padding: 10px 0 10px 55px;
  background: #3FB0AC;
  background: #3FB0AC;
  position: relative;
  display: block;
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
.mis-contactos-page .breadcrumb li a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid #3FB0AC;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
.mis-contactos-page .breadcrumb li a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1; }
.mis-contactos-page .breadcrumb li:first-child a {
  padding-left: 10px; }
.mis-contactos-page .breadcrumb li a:hover {
  background: #298680; }
.mis-contactos-page .breadcrumb li a:hover:after {
  border-left-color: #298680 !important; }

.buscar-page .input-group {
  margin-top: 31px;
  margin-bottom: 10px; }
.buscar-page .show-contacts {
  display: none; }

.campaña-perfil-page .tipo-main {
  font-size: 1.6rem;
  font-weight: 600;
  opacity: 0.3;
  position: relative;
  bottom: 12px; }
.campaña-perfil-page .col-lg-2, .campaña-perfil-page .col-md-2 {
  padding-right: 8px;
  padding-left: 8px; }
.campaña-perfil-page .producto-box {
  margin-bottom: 15px; }
  .campaña-perfil-page .producto-box p {
    margin-bottom: 0px; }
  .campaña-perfil-page .producto-box span {
    color: #3FB0AC;
    font-weight: 500;
    font-size: 1.2rem;
    position: relative;
    bottom: 5px; }

.agenda-page .calendar-toolbar {
  margin-bottom: 10px; }
.agenda-page .calendar-month-row {
  height: 75px; }
.agenda-page .calendar-prior-months-date {
  color: #DDD; }
.agenda-page .calendar-current-date {
  text-align: center;
  display: inline-block;
  width: 115px; }
.agenda-page button:focus, .agenda-page button:active, .agenda-page button:visited {
  outline: 0 !important; }
.agenda-page .eventos-box {
  background-color: #FAE596;
  color: #212121;
  opacity: 0.8;
  font-weight: 500;
  text-align: center;
  padding: 3px;
  border: 1px solid #9a9a9a;
  cursor: pointer;
  font-size: 1.2rem;
  position: relative;
  top: 13px; }
.agenda-page table {
  table-layout: fixed; }

/*# sourceMappingURL=crm.css.map */
