.agenda-diaria {
    position: fixed;
    width: 25%;
    .panel-body {
        height: 480px;
        overflow-y: scroll;
    }
    .panel-heading {
        position: relative;
        z-index: 10;
        .date {
            font-size: 1.2rem;
            opacity: 0.3;
            font-weight: 700;
        }
        i {
            float: right;
            opacity: 0.5;
            position: relative;
            bottom: 20px;
            cursor: pointer;
        }
    }
    .agenda-diaria-evento {
        padding: 20px 25px;
        border-bottom: 1px solid #D9D9D9;
        .title {
            font-size: 1.5rem;
            opacity: 0.7;
            font-weight: 500;
            display: inline;
            margin-bottom: 2px;
            margin-right: 5px;
        }
        i {
            opacity: 0.5;
            font-size: 1.5rem;
            position: relative;
            top: 2px;
        }
        .title-edit {
            color: #ADADAD;
            cursor: pointer;
            opacity: 1;
            display: inline;
        }
        .detail {
            font-size: 1.2rem;
            color: #888888;
            font-weight: 400;
            margin-left: 5px;
        }
        .detail:nth-child(odd) {
            text-transform: capitalize;
        }
    }
    .agenda-diaria-evento-active {
        background-color: $secondary-color;
        .title-edit, .detail {
            color: #000;
            opacity: 0.7;
        }
        i {
            opacity: 0.7;
        }
    }
    a, a:hover, a:focus {
        color: #7C7C7C;
    }
}
