@media (min-width: 768px) {
    .modal-dialog {
        width: 500px;
        margin: 30px auto;
    }
}

/* @media screen and (min-width: 1400px) {
    .card-statistics {
        i {
            font-size: 4rem !important;
        }
    }
} */ 
