// Sidebar Styles
#sidebar {
   overflow: auto;
   position:fixed;
   height:100%;
   width:225px;
   top:0;
   left:0;
   background-color:$primary-color;
   color: #fff;
   text-align: center;
   .profile {
       background-color: $third-color;
       padding: 35px 5px 35px 5px;
        span {
           display: block;
           opacity: 0.8;
           font-size: 1.2rem;
       }
       .pic-box {
           height: 56px;
           width: 56px;
           margin: 0 auto;
           margin-bottom: 5px;
           img {
               object-fit: cover;
               width: 100%;
               height: 100%;
               border-radius: 100%;
           }
       }
   }
   ul {
       list-style: none;
       padding: 0;
       margin: 0;
       li {
           border-bottom: 1px solid #fff;
           border-top: 1px solid #fff;
           margin-top: -1px;
           -webkit-transition: all 0.2s ease-in-out;
           -moz-transition: all 0.2s ease-in-out;
           transition: all 0.2s ease-in-out;
           a {
               padding: 15px;
               text-decoration: none;
               color: #fff;
               display: block;
               i {
                   display: block;
                   font-size: 2.6rem;
               }
               span {
                   font-size: 1.3rem;
               }
           }
       }
       li:first-child {
           border-top: none;
       }
       li:last-child {
           border-bottom: none;
       }
       li:hover {
           background-color: rgba(0, 0, 0, 0.15);
       }
       .active {
           background-color: $secondary-color;
           a {
               color: #575243;
           }
       }
       .active:hover {
           background-color: $secondary-color;
       }
   }
}
