// Estilos para la pestaña de agenda
.agenda-page {
    .calendar-toolbar {
        margin-bottom: 10px;
    }
    .calendar-month-row {
        height: 75px;
    }
    .calendar-prior-months-date {
        color: #DDD;
    }
    .calendar-current-date {
        text-align: center;
        display: inline-block;
        width: 115px;
    }
    button:focus, button:active, button:visited {
        outline:0 !important;
    }
    .eventos-box {
        background-color: $secondary-color;
        color: #212121;
        opacity: 0.8;
        font-weight: 500;
        text-align: center;
        padding: 3px;
        border: 1px solid #9a9a9a;
        cursor: pointer;
        font-size: 1.2rem;
        position: relative;
        top: 13px;
    }
    table {
        table-layout: fixed;
    }
}
