.agregar-page {
    padding-bottom: 40px;
    .label-floating {
        margin-top: 31px;
    }
    a {
        color: #000;
    }
    .subheading {
        font-weight: 600;
        opacity: 0.5;
        margin-left: 15px;
        font-size: 1.8rem;
    }
    .input-group {
        margin-top: 31px;
    }
    .mg-bt {
        margin-bottom: 15px;
    }
    #datos-contacto {
        #btn-crear-contacto {
            float: left;
        }
        .form-contactos {
            display: none;
        }
        .contacto-card {
            cursor: pointer;
            .nombres {
                margin-top: 10px;
            }
        }
        .cards-contacto-choose {
            display: none;
        }
    }
    #datos-familiar {
        #btn-crear-familiar {
            float: left;
        }
        p {
            margin-top: 5px;
        }
        .help-block {
            margin-top: 0px;
        }
        .form-familiar {
            margin-top: 20px;
            display: none;
        }
        .contacto-row {
            display: none;
        }
        #guardar-parentezco {
            display: none;
        }
    }
}
