.campaña-perfil-page {
    .tipo-main {
        font-size: 1.6rem;
        font-weight: 600;
        opacity: 0.3;
        position: relative;
        bottom: 12px;
    }
    .col-lg-2, .col-md-2 {
        padding-right: 8px;
        padding-left: 8px;
    }
    .producto-box {
        margin-bottom: 15px;
        p {
            margin-bottom: 0px;
        }
        span {
            color: $primary-color;
            font-weight: 500;
            font-size: 1.2rem;
            position: relative;
            bottom: 5px;
        }
    }
}
