.contacto-perfil-page {
    h1, .edit {
        display: inline-block;
    }

    h1 {
        margin-bottom: 12px;
        width: 40vw;
    }
    a {
        color: #000;
    }

    .edit {
        font-size: 2.3rem;
        opacity: 0.3;
        position: relative;
        bottom: 3px;
        left: 3px;
    }

    .details {
        font-weight: 600;
        color: #B2B2B2;
        font-size: 1.5rem;
        display: inline-block;
        margin-bottom: 15px;
        margin-right: 25px;
        i {
            font-size: 1.9rem;
            position: relative;
            top: 4px;
            right: 5px;
        }
        .speech {
            cursor: pointer;
        }
    }
    .nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
        font-size: 1.6rem !important;
        padding: 15px 10px;
    }

    .botones-perfil {
        float: right;
        display: inline-block;
        position: absolute;
        top: -50px;
        right: 20px;
        .btn-raised {
            display: block;
            font-size: 1.2rem !important;
            padding-left: 17px;
            padding-right: 17px;
        }
        .dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:focus {
            color: #FFF;
            font-weight: 300;
            width: 132px;
            background-color: $third-color;
        }

        .dropdown-menu li a:hover {
            color: $primary-color;
        }
    }
    .nav-tabs {
        box-shadow: 0px 2px 4px #CFCFCF;
        position: relative;
        z-index: 1;
    }
    .tab-content {
        padding: 20px;
        background-color: #F9F9F9;
        height: 457px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.16);
        margin-bottom: 10px;
        overflow-y: scroll;
    }
    .detail-box{
        margin-bottom: 10px;
        font-size: 1.5rem;
        .left {
            font-weight: 500;
            opacity: 0.5;
            margin-right: 10px;
        }
        .right {
            font-weight: 400;
            color: #A2A2A2;
        }
        a {
            color: $primary-color;
            opacity: 1;
        }
    }

    hr {
        border-top: 1px solid #D9D9D9;
    }

    .tab-card {
        background-color: #FFF;
        border: 1px solid #E5E5E5;
        padding: 20px;
        margin-bottom: 10px;
        .sede {
            font-size: 1.2rem;
            font-weight: 500;
            opacity: 0.2;
        }
        .title {
            font-size: 1.6rem;
            font-weight: 400;
            color: $primary-color;
            display: block;
            margin-bottom: -5px;
        }
        .float-right {
            float: right;
            text-align: right;
            position: relative;
            bottom: 25px;
            .time {
                display: block;
                font-size: 1.2rem;
                font-weight: 500;
                opacity: 0.3;
                i {
                    font-size: 2.1rem;
                    position: relative;
                    top: 4px;
                }
            }
        }
        .body {
            margin-top: 20px;
            .left {
                font-weight: 500;
                opacity: 0.5;
                margin-right: 10px;
            }
            .right {
                font-weight: 400;
                color: #A2A2A2;
            }
            .debe {
                color: #C41E3A;
            }
        }
    }
    .contacto-tabs {
      .tab-content {
        height: 600px;
      }
    }
}
