// Estilos para la pantala de inicio
.inicio-page {
    h1 {
        display: inline-block;
    }
    .main-text {
        opacity: 0.4;
        font-weight: 400;
        font-size: 1.4rem;
    }
    .select-camp {
        display: inline-block;
        width: 40%;
        margin-left: 10px;
    }
    .col-lg-2, .col-md-2 {
        padding-right: 8px;
        padding-left: 8px;
    }
    .metas {
        padding: 18px 14px;
        i {
            float: right;
            font-size: 2rem;
            opacity: 0.5;
            cursor: pointer;
            position: relative;
            bottom: 22px;
            right: -3px;
        }
        .box {
            margin-top: 15px;
        }
        .number {
            color: $primary-color;
            font-weight: 500;
            font-size: 3rem;
            display: block;
            margin-left: 20px;
        }
        .text {
            font-size: 1.3rem;
            opacity: 0.5;
            font-weight: 500;
            display: block;
        }
    }
    .contact-card-panel {
        overflow-y: scroll;
        height: 397px;

    }
    .contact-card {
        padding: 13.5px 25px;
        border-bottom: 1px solid #D9D9D9;
        a, a:hover, a:focus {
            font-size: 1.4rem;
            opacity: 0.7;
            font-weight: 500;
            color: #000;
            display: block;
        }
        .product {
            font-size: 1.1rem;
            opacity: 0.3;
            font-weight: 500;
            display: block;
            width: 350px;
        }
        .time {
            opacity: 0.2;
            font-weight: 400;
            font-size: 1.1rem;
            position: relative;
            bottom: 37px;
            left: 10px;
            float: right;
        }
    }
    .contact-card:last-child {
        border-bottom: none;
    }
    .primary-btn {
        font-size: 1.1rem;
        padding: 7px 15px;
        display: inline-block;
        position: absolute;
        right: 5%;
        top: 14px;
    }
    .speech {
        opacity: 0.3;
        position: relative;
        top: 5px;
        cursor: pointer;
        margin-left: 10px;
    }
}
