.mis-contactos-page {
  .breadcrumb {
    list-style: none;
    overflow: hidden;
    padding: 0;
    background-color: #FFF;
  }
  .breadcrumb li {
    float: left;
  }
  .breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 55px;
    background: $primary-color;
    background: $primary-color;
    position: relative;
    display: block;
    float: left;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid $primary-color;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
  }
  .breadcrumb li:first-child a {
    padding-left: 10px;
  }

  .breadcrumb li a:hover {
    background: rgb(41, 134, 128);
  }
  .breadcrumb li a:hover:after {
    border-left-color: rgb(41, 134, 128) !important;
  }
}
