// Estilos que se repiten en todo el tema
body {
    background-color: $body-background;
    font-family: $main-font;
    padding-left:235px;
    padding-top: 10px;
    padding-right: 10px;
    margin:0;
    color: #000;
    letter-spacing: 0.3px;
}

#content {
    width:100%;
    height:100%;
    display: none;
}

// Scroll styles

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background-color: #F9F9F9;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #afafaf;
}

// web agent texto guardado

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent;
}

h1 {
    font-size: 2.6rem;
    font-weight: 700;
    opacity: 0.7;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.8rem;
    opacity: 0.75;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.modal {
    background-color: rgba(0, 0, 0, 0.4);
    .modal-title {
        font-weight: 500;
    }
    p {
        font-weight: 400;
        opacity: 0.5;
        font-size: 1.5rem;
        margin-bottom: 25px;
    }
}

.form-group {
    margin-top: 0;
    .form-control {
        font-size: 1.4rem;
        font-weight: 400;
    }
}

.form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label {
    font-size: 1.4rem;
}

.form-control, .form-group .form-control {
    background-image: linear-gradient($primary-color, $primary-color), linear-gradient(#D2D2D2, #D2D2D2) !important;
}

.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary {
    color: $primary-color;
}

.guardar-btn {
    float: right;
    display: inline-block;
    position: absolute;
    top: -50px;
    right: 20px;
    font-size: 1.3rem;
}

// Paneles
.panel {
    background-color: #F9F9F9;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.16);
    .panel-heading {
        padding: 18px 25px;
        background-color: #F4F4F4 !important;
        box-shadow: 0px 2px 4px #CFCFCF;
    }
    .panel-body {
        padding: 0;
    }
}

.primary-btn {
    background-color: $primary-color !important;
    color: #fff !important;
    font-weight: 400 !important;
    margin-top: 0;
    margin-bottom: 0;
}

// Speech campañas

.speech-box {
    display: inline-block;
    position: relative;
    .speech-message {
        visibility: hidden;
        width: 350px;
        font-weight: 300;
        font-size: 1.4rem;
        background-color: #fff;
        color: #212121;
        text-align: left;
        border-radius: 2px;
        padding: 20px 30px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        position: absolute;
        z-index: 1;
        top: -5px;
        left: 110%;
        opacity: 0;
        -webkit-transition: all 0.2s ease-out 0s;
        -moz-transition: all 0.2s ease-out 0s;
        -ms-transition: all 0.2s ease-out 0s;
        -o-transition: all 0.2s ease-out 0s;
        transition: all 0.2s ease-out 0s;
        h5 {
            color: $primary-color;
            font-weight: 500;
        }
    }
}
.speech-box:hover .speech-message {
    visibility: visible;
    opacity: 1;
    z-index: 100;
}

// TABS

.nav-tabs {
    background-color: #F4F4F4;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.16);
    .active {
        border-bottom: 3px solid $primary-color;
    }
}

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    color: #484848 !important;
    padding: 15px 20px;
}

// Colores para los estados

.positivo, .matriculado, .obtenido {
    color: #06BB78;
}
.contactos-web {
    color: #488CA9;
}
.por-definir {
    color: #D6D800;
}
.negativo {
    color: #ADADAD;
}

// Colores para las prioridades

.prioridad-cero {
    background-color: #06BB78;
    color: #FFF;
}

.prioridad-uno {
    background-color: #FAE596;
    color: #4A442C;
}
.prioridad-dos {
    background-color: #488CA9;
    color: #FFF;
}

.prioridad-tres {
    background-color: #8c8c8c;
    color: #FFF;
}

// Contact Cards
.contacto-card {
    padding: 20px 20px 15px 20px !important;
    .icon-box-person {
        height: 60px;
        width: 60px;
        border-radius: 100%;
        float: left;
        background-color: #E8E8E8;
        text-align: center;
        padding: 10px;
        margin-right: 15px;
        margin-bottom: 5px;
        i {
            font-size: 4.5rem;
            color: #B1B1B1;
            position: relative;
            bottom: 4px;
            right: 2px;
        }
    }
    .nombres, .apellidos {
        font-weight: 500;
        display: block;
        opacity: 0.5;
        font-size: 1.4rem;
        word-break: break-all;
    }
    a {
        color: #000;
    }
    .link {
        display: inline-block;
    }
    .tipo {
        color: $primary-color;
        font-size: 1.2rem;
        font-weight: 500;
        display: block;
        margin-left: 75px;
    }
    .edit {
        float: right;
        font-size: 1.5rem;
        opacity: 0.5;
        position: relative;
        bottom: 10px;
        left: 10px;
    }
    .name-box {
        margin-bottom: 25px;
    }
}

// full cards
.full-card {
    margin-bottom: 10px;
    .contacto-card {
        padding: 0px !important;
        width: 100%;
        display: -ms-flex; display: -webkit-flex; display: flex;
        .link {
            display: block;
        }
        .col-lg-4 {
            padding: 20px 5px 15px 15px;
            flex: 3;
            border-right: 1px solid #D9D9D9;
        }
        .col-lg-8 {
            padding: 10px 5px 10px 15px;
        }
    }
    .description-box {
        .left {
            display: inline-block;
            font-weight: 500;
            opacity: 0.5;
            width: 120px;
            vertical-align: top;
        }
        .right {
            display: inline-block;
            font-weight: 400;
            opacity: 0.4;
            width: 250px;
            vertical-align: top;
        }
    }
    .float-right {
        position: absolute;
        right: 20px;
        top: 7px;
        text-align: right;
        .text {
            font-size: 1.1rem;
            font-weight: 500;
            opacity: 0.2;
        }
        .number {
            display: inline-block;
            font-size: 1.1rem;
            font-weight: 500;
            padding: 2px;
            border-radius: 100%;
            width: 19px;
            text-align: center;
        }
        .icon {
            i {
                font-size: 2.2rem;
            }
        }
    }
    .speech-box {
        i {
            color: $primary-color;
            cursor: pointer;
        }
    }
}

// alert

.alert {
    width: 300px;
    position: fixed;
    z-index: 1000;
    left: 0.5%;
    bottom: 0%;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.16);
    display: none;

}

.card-blocked {
    opacity: 0.3;
    .name-box,.form-group {
        pointer-events: none;
    }
}

.total-contacts {
    float: right;
    font-weight: 400;
    opacity: 0.3;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

// error page

.error-page {
    text-align: center;
    i {
        color: $primary-color;
        font-size: 4.5rem;
        margin-top: 5%;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-weight: 400;
        opacity: 0.7;
        font-size: 2.5rem;
    }
    h4 {
        font-size: 2rem;
        opacity: 0.4;
        font-weight: 400;
    }
}

// Estadísticas tarjetas

.card-statistics {
    padding: 8px 5px;
    height: 80px;
    i {
        font-size: 3rem;
        display: inline-block;
    }
    .number {
        font-size: 1.7rem;
        font-weight: 700;
        opacity: 0.7;
        display: inline-block;
        position: relative;
        bottom: 8px;
    }
    .name {
        font-size: 1.05rem;
        opacity: 0.8;
        color: #000;
        color: #9E9E9E;
        font-weight: 500;
        display: block;
        margin-top: -3px;
    }
}

.active-agenda-page {
    background-color: #eaeaea;
}
